#fiori_di_zucca {
    background-image: url("/public/homepageSfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main_content {
    background-image: url("/public/GrilledCheeseFoodGIF.gif");
    background-size: 130% 70%;
    background-repeat: no-repeat;
    background-position: 50% -10%;
}