.card {
    min-height: 40vh;
}

.icon {
    width: 2vw;
}

.card-col {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#areapersonale {
    background-image: url("../src/immagini/backgroundPini.gif");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}