#areapersonale {
    background-image: url("/public/backgroundPini.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#areapersonale .small-image {
    width: 10vw;
}

#areapersonale .medium-image {
    width: 15vw;
}

#areapersonale .big-image {
    width: 20vw;
}

/* DEBUG: Il contenitore che oscura la card è più largo rispetto alla card */

#areapersonale .container-positioned {
    position: relative;
}

#areapersonale .bloccato {
    position: absolute;
    z-index: 1;
}