.col-1-eighteenth {
    flex:0 0 auto;
    width: 5.55555556%;
}

.col-2-eighteenth {
    flex:0 0 auto;
    width: 11.1111111%;
}

.col-3-eighteenth {
    flex:0 0 auto;
    width: 16.6666667%;
}

.col-4-eighteenth {
    flex:0 0 auto;
    width: 22.2222222%;
}

.col-5-eighteenth {
    flex:0 0 auto;
    width: 27.7777778%;
}

.col-6-eighteenth {
    flex:0 0 auto;
    width: 33.3333333%;
}

.col-7-eighteenth {
    flex:0 0 auto;
    width: 38.8888889%;
}

.col-8-eighteenth {
    flex:0 0 auto;
    width: 44.4444444%;
}

.col-9-eighteenth {
    flex:0 0 auto;
    width: 50%;
}

.col-10-eighteenth {
    flex:0 0 auto;
    width: 55.5555556%;
}

.col-11-eighteenth {
    flex:0 0 auto;
    width: 61.1111111%;
}

.col-12-eighteenth {
    flex:0 0 auto;
    width: 66.6666667%;
}

.col-13-eighteenth {
    flex:0 0 auto;
    width: 72.2222222%;
}

.col-14-eighteenth {
    flex:0 0 auto;
    width: 77.7777778%;
}

.col-15-eighteenth {
    flex:0 0 auto;
    width: 83.3333333%;
}

.col-16-eighteenth {
    flex:0 0 auto;
    width: 88.8888889%;
}

.col-17-eighteenth {
    flex:0 0 auto;
    width: 94.4444444%;
}

.col-18-eighteenth {
    flex:0 0 auto;
    width: 100%;
}