/* 
DEBUG:
- Font size decreases too much as screen size get decreased
- Page cannot be zoomed in on laptops: browsers don't actually zoom in, they simulate a smaller viewport.
POSSIBLE SOLUTIONS:
- Adjust --responsive-unit dynamically in javascript to follow a logarithmic scale (logarithmic growth or something along the lines of 1 - (1 / (x+1)))
- Add a base size in pixels to --responsive-unit (e.g. 1vw + 0.2px). This way content will still be responsive, but it will also be zoomed in.
  I believe we had better create a responsive unit for text only, or any other content we need to be "zoomable" (there is no advantage in zooming in on paddings, borders, and margins)
- Another solution would be to make the viewport scrollable as you zoom in (min-width e max-width)
*/

:root {
    --light-green: #18A118;
    --dark-green: #007100;
    --yellow: #FFCC00;
    --yellow-subtle: #FFCC0080;
    --orange: #F38A12CC;
    --orange-subtle: #FF6E0080;
    --grey: #4F4F4F;
    --brown: #2B1C00;
    --dark: #030303;
    --light: #FFFFFF;
    --shadow: #00000080;
    --transparent: #FFFFFF00;

    /* DEFAULT VALUES */
    --text-shadow-color: var(--dark);

    --responsive-limit: 400px;
}

/* ROOT */
@media screen and (min-width: 401px) {
    * {
        --responsive-unit: 1vw;
        --responsive-unit-visible: var(--responsive-unit) + 1px;
    }
}

@media screen and (max-width: 400px) {
    * {
        --responsive-unit: calc(var(--responsive-limit) / 100);
        --responsive-unit-visible: var(--responsive-unit) + 1px;
    }
}

/* HTML SEMANTIC ELEMENTS */

body {
    /* DEBUG: Trova un modo per aggiustare l'altezza della pagina index, che al ridursi della larghezza diventa troppo 'corta' */
    /* DEBUG: Aumentare l'altezza degli elementi in proporzione all'aumento dell'altezza della pagina */
    min-width: var(--responsive-limit);
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* BOX MODEL */

.margin-responsive-1 {
    margin: calc(1 * var(--responsive-unit)) !important;
}

.margin-responsive-2 {
    margin: calc(2 * var(--responsive-unit)) !important;
}

.margin-responsive-3 {
    margin: calc(3 * var(--responsive-unit)) !important;
}

.margin-responsive-4 {
    margin: calc(4 * var(--responsive-unit)) !important;
}

.margin-responsive-5 {
    margin: calc(5 * var(--responsive-unit)) !important;
}

.margin-responsive-x-1 {
    margin-left: calc(1 * var(--responsive-unit)) !important;
    margin-right: calc(1 * var(--responsive-unit)) !important;
}

.margin-responsive-x-2 {
    margin-left: calc(2 * var(--responsive-unit)) !important;
    margin-right: calc(2 * var(--responsive-unit)) !important;
}

.margin-responsive-x-3 {
    margin-left: calc(3 * var(--responsive-unit)) !important;
    margin-right: calc(3 * var(--responsive-unit)) !important;
}

.margin-responsive-x-4 {
    margin-left: calc(4 * var(--responsive-unit)) !important;
    margin-right: calc(4 * var(--responsive-unit)) !important;
}

.margin-responsive-x-5 {
    margin-left: calc(5 * var(--responsive-unit)) !important;
    margin-right: calc(5 * var(--responsive-unit)) !important;
}

.margin-responsive-y-1 {
    margin-top: calc(1 * var(--responsive-unit)) !important;
    margin-bottom: calc(1 * var(--responsive-unit)) !important;
}

.margin-responsive-y-2 {
    margin-top: calc(2 * var(--responsive-unit)) !important;
    margin-bottom: calc(2 * var(--responsive-unit)) !important;
}

.margin-responsive-y-3 {
    margin-top: calc(3 * var(--responsive-unit)) !important;
    margin-bottom: calc(3 * var(--responsive-unit)) !important;
}

.margin-responsive-y-4 {
    margin-top: calc(4 * var(--responsive-unit)) !important;
    margin-bottom: calc(4 * var(--responsive-unit)) !important;
}

.margin-responsive-y-5 {
    margin-top: calc(5 * var(--responsive-unit)) !important;
    margin-bottom: calc(5 * var(--responsive-unit)) !important;
}

.padding-responsive-1 {
    padding: calc(1 * var(--responsive-unit)) !important;
}

.padding-responsive-2 {
    padding: calc(2 * var(--responsive-unit)) !important;
}

.padding-responsive-3 {
    padding: calc(3 * var(--responsive-unit)) !important;
}

.padding-responsive-4 {
    padding: calc(4 * var(--responsive-unit)) !important;
}

.padding-responsive-5 {
    padding: calc(5 * var(--responsive-unit)) !important;
}

.padding-responsive-x-1 {
    padding-left: calc(1 * var(--responsive-unit)) !important;
    padding-right: calc(1 * var(--responsive-unit)) !important;
}

.padding-responsive-x-2 {
    padding-left: calc(2 * var(--responsive-unit)) !important;
    padding-right: calc(2 * var(--responsive-unit)) !important;
}

.padding-responsive-x-3 {
    padding-left: calc(3 * var(--responsive-unit)) !important;
    padding-right: calc(3 * var(--responsive-unit)) !important;
}

.padding-responsive-x-4 {
    padding-left: calc(4 * var(--responsive-unit)) !important;
    padding-right: calc(4 * var(--responsive-unit)) !important;
}

.padding-responsive-x-5 {
    padding-left: calc(5 * var(--responsive-unit)) !important;
    padding-right: calc(5 * var(--responsive-unit)) !important;
}

.padding-responsive-y-1 {
    padding-top: calc(1 * var(--responsive-unit)) !important;
    padding-bottom: calc(1 * var(--responsive-unit)) !important;
}

.padding-responsive-y-2 {
    padding-top: calc(2 * var(--responsive-unit)) !important;
    padding-bottom: calc(2 * var(--responsive-unit)) !important;
}

.padding-responsive-y-3 {
    padding-top: calc(3 * var(--responsive-unit)) !important;
    padding-bottom: calc(3 * var(--responsive-unit)) !important;
}

.padding-responsive-y-4 {
    padding-top: calc(4 * var(--responsive-unit)) !important;
    padding-bottom: calc(4 * var(--responsive-unit)) !important;
}

.padding-responsive-y-5 {
    padding-top: calc(5 * var(--responsive-unit)) !important;
    padding-bottom: calc(5 * var(--responsive-unit)) !important;
}

.border-responsive-1 {
    border-width: calc(0.1 * var(--responsive-unit)) !important;
}

.border-responsive-2 {
    border-width: calc(0.2 * var(--responsive-unit)) !important;
}

.border-responsive-3 {
    border-width: calc(0.3 * var(--responsive-unit)) !important;
}

.border-responsive-4 {
    border-width: calc(0.4 * var(--responsive-unit)) !important;
}

.border-responsive-5 {
    border-width: calc(0.5 * var(--responsive-unit)) !important;
}

.rounded-responsive-1 {
    border-radius: calc(0.5 * var(--responsive-unit)) !important;
}

.rounded-responsive-2 {
    border-radius: calc(1 * var(--responsive-unit)) !important;
}

.rounded-responsive-3 {
    border-radius: calc(1.5 * var(--responsive-unit)) !important;
}

.rounded-responsive-4 {
    border-radius: calc(2 * var(--responsive-unit)) !important;
}

.rounded-responsive-5 {
    border-radius: calc(2.5 * var(--responsive-unit)) !important;
}

/* TEXT SHADOW */

.text-shadow-responsive-1 {
    text-shadow: calc(1 * var(--responsive-unit)) calc(1 * var(--responsive-unit)) var(--text-shadow-color);
}

.text-shadow-responsive-2 {
    text-shadow: calc(2 * var(--responsive-unit)) calc(2 * var(--responsive-unit)) var(--text-shadow-color);
}

.text-shadow-responsive-3 {
    text-shadow: calc(3 * var(--responsive-unit)) calc(3 * var(--responsive-unit)) var(--text-shadow-color);
}

.text-shadow-responsive-4 {
    text-shadow: calc(4 * var(--responsive-unit)) calc(4 * var(--responsive-unit)) var(--text-shadow-color);
}

.text-shadow-responsive-5 {
    text-shadow: calc(5 * var(--responsive-unit)) calc(5 * var(--responsive-unit)) var(--text-shadow-color);
}

.text-shadow-yellow {
    --text-shadow-color: var(--yellow);
}

/* OBJECT SIZE */

.object-xxxl {
    width: 100% !important;
    height: calc(60 * var(--responsive-unit)) !important;
}

.object-xxl {
    width: 100% !important;
    height: calc(30 * var(--responsive-unit)) !important;
}

.object-xl {
    width: 100% !important;
    height: calc(25 * var(--responsive-unit)) !important;
}

.object-l {
    width: 100% !important;
    height: calc(20 * var(--responsive-unit)) !important;
}

.object-m {
    width: 100% !important;
    height: calc(15 * var(--responsive-unit)) !important;
}

.object-s {
    width: 100% !important;
    height: calc(10 * var(--responsive-unit)) !important;
}

.object-xs {
    width: 100% !important;
    height: calc(5 * var(--responsive-unit)) !important;
}

.image-xl {
    width: calc(25 * var(--responsive-unit)) !important;
}

.image-l {
    width: calc(20 * var(--responsive-unit)) !important;
}

.image-m {
    width: calc(15 * var(--responsive-unit)) !important;
}

.image-s {
    width: calc(10 * var(--responsive-unit)) !important;
}

/* COMPONENTS */

.page-main {
    min-height: 100vh;
}

.page-main-three-quarters {
    min-height: 75vh;
}

.page-main-half {
    min-height: 50vh;
}

.page-main-quarter {
    min-height: 25vh;
}

.icon {
    width: calc(2 * var(--responsive-unit));
}

/* HOVER */

.hoverable:hover {
    cursor: pointer;
}

.hoverable-orange:hover {
    background-image: radial-gradient(circle, var(--orange-subtle), var(--orange-subtle), var(--transparent), var(--transparent));
    cursor: pointer;
}

/* TEXT SIZE */

/* 300px */
.text-xxl {
    font-size: calc(20 * var(--responsive-unit-visible)) !important;
}

/* 60px */
.text-xl {
    font-size: calc(5 * var(--responsive-unit-visible)) !important;
}

/* 48px */
.text-l {
    font-size: calc(4 * var(--responsive-unit-visible)) !important;
}

/* 36px */
.text-m {
    font-size: calc(3 * var(--responsive-unit-visible)) !important;
}

/* 24px */
.text-s {
    font-size: calc(2 * var(--responsive-unit-visible)) !important;
}

.text-s-adapted {
    font-size: calc(1.5 * var(--responsive-unit-visible));
}

/* 12px */
.text-xs {
    font-size: calc(1 * var(--responsive-unit-visible)) !important;
}

/* COLORS */

.border-dark-green {
    border-color: var(--dark-green) !important;
}

.border-light-green {
    border-color: var(--light-green) !important;
}

.border-grey {
    border-color: var(--grey) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

.text-light-green {
    color: var(--light-green) !important;
}

.background-brown {
    background-color: var(--brown) !important;
}

.background-yellow {
    background-color: var(--yellow) !important;
}

.background-yellow-subtle {
    background-color: var(--yellow-subtle) !important;
}

.background-orange {
    background-color: var(--orange) !important;
}

.background-dark {
    background-color: var(--dark) !important;
}

.background-light {
    background-color: var(--light) !important;
}

.background-shadow {
    background-color: var(--shadow) !important;
}

.background-transparent {
    background-color: var(--transparent) !important;
}

/* FONTS */

.indie-flower-regular {
    font-family: "Indie Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-bold {
    font-family: "Indie Flower", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.roboto-condensed-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed-bold {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oswald-bold {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-style: normal;
}